@use 'mixin' as m;

// メインビジュアル
#mv {
    position: relative;
    max-width: 100%;
    height: calc(100vh + 100px);
    background-image: url(../img/mv.jpg);
    background-size: cover;
    background-position: top center;

    @include m.pc {
        background-image: url(../img/sp_mv.jpg);
    }

    @include m.tab {
        height: 100vh;
    }

    @include m.sp {
        background-image: url(../img/mv_sp.jpg);
        height:80vh;
    }

    @include m.ls {
        height: calc(100vh + 300px);
    }

    .copy {
        position: absolute;
        bottom: 25%;
        right: 5%;
        text-align: center;
        text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
        line-height: normal;

        @include m.pc {
            width: 100%;
            bottom: 12%;
            left: 50%;
            transform: translateX(-50%);
        }

        @include m.tab {
            bottom: 8%;
        }

        @include m.ls {
            bottom: 7%;
        }

        h2 {
            font-size: 4rem;
            color: #FFF;

            @include m.tab {
                font-size: 3rem;
            }

            @include m.sp {
                font-size: 2.25rem;
            }
        }

        p {
            font-size: 1.25rem;
            color: #FFF;

            @include m.sp {
                font-size: 1rem;
            }
        }
    }

    .successful_btn {
        display: inline-block;
        width: 300px;
        font-size: 1.25rem;
        border-radius: 15px 0 0 15px;
        text-align: center;
        padding-block: 30px;
        text-decoration: none;
        background-color: #344D90;
        color: #FFF;
        position: absolute;
        top: 120px;
        right: 0;

        @include m.tab {
            width: 250px;
            font-size: 1rem;
            top: 73px;
            padding-block: 16px;
        }

        @include m.sp {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 20px;
            width: 9px;
            height: 9px;
            margin: auto;
            border-top: 3px solid #fff;
            border-right: 3px solid #fff;
            transform: rotate(45deg);
        }

        &:hover {
            background-color: #4761a9;
        }
    }

    .successful_btn_sp {
        display: none;

        @include m.sp {
            display: inline-block;
            text-align: center;
            background-color: #344D90;
            border-radius: 15px 0 0 15px;
            font-size: 1rem;
            color: #FFF;
            text-decoration: none;
            position: absolute;
            top: 73px;
            right: 0;
            width: 176px;
            padding-block: 16px;

            &:hover {
                background-color: #4761a9;
            }
        }
    }

    .selection_button {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 40px;
        position: absolute;
        bottom: -50px;

        @include m.tab {
            flex-direction: column;
            gap: 8px;
            bottom: -160px;
        }
        @include m.sp{
            height:20vh;
            top:80vh;
        }

        .button {
            text-align: center;
            background-color: #344D90;
            text-decoration: none;
            color: #FFF;
            width: 352px;
            padding-block: 20px;
            padding-right: 20px;
            position: relative;

            @include m.tab {
                width: 80%;
                padding-block: 8px;
                margin-inline: auto;
            }

            @include m.sp {
                width: 90%;
            }

            span {
                font-size: 1.5rem;

                @include m.sp {
                    font-size: 1.25em;
                }
            }

            &::before {
                content: "";
                width: 304px;
                height: 2px;
                background-color: #FFF;
                position: absolute;
                bottom: 15px;

                @include m.tab {
                    display: none;
                }
            }

            &::after {
                content: "";
                width: 10px;
                height: 2px;
                background-color: #FFF;
                position: absolute;
                bottom: 18px;
                right: 23px;
                transform: rotate(45deg);

                @include m.tab {
                    display: none;
                }
            }

            &:hover {
                background-color: #4761a9;
            }
        }
    }
}

// 選ばれる理由
#chosen_reason {
    width: 100%;
    padding-top: 160px;
    padding-bottom: 64px;
    text-align: center;
    background-image: url(../img/背景.jpg);
    background-size: cover;
    background-position: center;

    @include m.tab {
        padding-top: 218px;
    }

    .reasons {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        justify-content: center;
        gap: 16px;
        margin-inline: auto;
        margin-top: 56px;
        padding-bottom: 64px;

        @include m.tab {
            width: 100%;
            flex-direction: column;
            gap: 32px;
        }

        .reason {
            width: 45%;
            background-color: #FFF;
            height: 270px;
            position: relative;
            box-shadow: 0px 0px 15px 5px rgba(169, 169, 169, 0.18);

            @include m.tab {
                width: 80%;
                margin-inline: auto;
            }
            @include m.sp{
                width:90%;
                height:160px;
            }

            .number {
                font-family: "Dancing Script", cursive;
                font-weight: bold;
                font-size: 3rem;
                color: #344D90;
                position: absolute;
                top: -51px;
                left: 16px;
            }

            .reason_content {
                width: 100%;
                font-size: 1.25rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                span {
                    font-size: 2rem;
                    background: linear-gradient(transparent 70%, #ffff00 30%);

                    @include m.sp {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                }
                .free_big{
                    font-size: 2.5rem;
                }
            }
        }
    }
}